src/main/mule/adt_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:hdfs="http://www.mulesoft.org/schema/mule/hdfs" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/hdfs http://www.mulesoft.org/schema/mule/hdfs/current/mule-hdfs.xsd">
	<hdfs:hdfs-config name="Hdfs_Hdfs" doc:name="Hdfs Hdfs" doc:id="bb3ba411-51bd-494b-8802-a7a6abc21c1b" >
		<hdfs:simple-connection nameNodeUri="hdfs://172.31.1.44:9000/user/hdoop/" username="hdoop"/>
	</hdfs:hdfs-config>
	<flow name="adt_projectFlow" doc:id="d97751c9-49fc-4755-b80e-b1a392e6929d" >
		<scheduler doc:name="Scheduler" doc:id="e0d46475-e65c-49c7-a5ee-dd1c4d0053bc" >
			<scheduling-strategy >
				<fixed-frequency frequency="100000"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="3b1a88b0-b89a-4f38-b299-fcdc1e1b13ec" message="Schedular started"/>
		<hdfs:read-operation doc:name="Read operation" doc:id="2d4adf9c-50c8-4273-afc6-04dd6eed5120" config-ref="Hdfs_Hdfs" path="/user/hdoop/customer_data.csv"/>
		<logger level="INFO" doc:name="Logger" doc:id="fc31b26d-b1df-4fa1-8a2d-0328cdfe8a12" message="After Read"/>
		<ee:transform doc:name="Transform Message" doc:id="da5e9d4c-bdc5-49c0-996b-46401da7f34b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c1867194-7ab6-4f79-b806-13eadaf8e881" message="#[payload]"/>
	</flow>
</mule>
