src/main/mule/hadoop2mysql.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:hdfs="http://www.mulesoft.org/schema/mule/hdfs"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/hdfs http://www.mulesoft.org/schema/mule/hdfs/current/mule-hdfs.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="hadoop2mysqlFlow" doc:id="76cecdf9-823f-4687-b4aa-067541e91022" >
		<http:listener doc:name="Listener" doc:id="d60956a1-0099-4152-a705-873841c6699e" config-ref="HTTP_Listener_config" path="/hadoop2mysql"/>
		<logger level="INFO" doc:name="Logger" doc:id="8cda0a68-10a8-4613-937d-af8261d70751" message="Request received from user to push data from Hadoop to MySQL"/>
		<hdfs:read-operation doc:name="Read operation" doc:id="92ef56d5-26db-49db-8bd2-146ca40df0f3" config-ref="Hdfs_Hdfs" path="ca500customer.csv">
		</hdfs:read-operation>
		<ee:transform doc:name="Transform Message" doc:id="2942948d-59f8-4f16-9ac5-fe147a4ed1c7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0184aa18-ea3b-4d82-a9c0-8a38a60e07f7" message="#[payload]" />
		<logger level="INFO" doc:name="Logger" doc:id="0e6ec25d-736b-48b6-9215-1fcc34b43e55" message="Push from Hadoop to MySQL complete"/>
	</flow>
</mule>
